
.container{
    border-color: black;
    border-style: solid;
    background-color: beige;
    color:black;
    padding: 4px;
    margin: 4px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
}
body{
    background-color: aquamarine;
}
a{
    color: blue;
    font-size: larger;
    text-align: center;
    font-display:flex;
}
a.hover{
    color: black;
}
img{
    border-radius: 50%;
}